  h1 {
    text-align: center
  }

/* div {
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
} */
/* button {
   width: 400px;
   height: 40px;
   color: white;
   background-color: gold;
 } */
